---
import { getCollection } from "astro:content";
import PageIntro from "../../components/PageIntro.astro";
import PhotoCollections from "../../components/PhotoCollections.astro";
import { navItems, site } from "../../config";
import ContentPage from "../../layouts/ContentPage.astro";

const nav = navItems.find((n) => n.href === "/photos");
const photos = (await getCollection("photos")).map((p) => p.data);
---

<ContentPage title={`Photos | ${site.name}`} description={nav?.description}>
  <PageIntro title="Photos" description={nav?.description} />

  <div data-animate style="transition-delay: 0.15s">
    <PhotoCollections photos={photos} />
  </div>
</ContentPage>
