---
import ContentPage from "../../layouts/ContentPage.astro";
import PageIntro from "../../components/PageIntro.astro";
import PhotoGallery from "../../components/PhotoGallery.astro";
import { getCollection } from "astro:content";
import { site, navItems } from "../../config";

const nav = navItems.find((n) => n.href === "/photos");
const photos = (await getCollection("photos")).map((p) => p.data);
---

<ContentPage title={`Photos | ${site.name}`} description={nav?.description}>
  <PageIntro title="Photos" description={nav?.description} />

  <div data-animate style="transition-delay: 0.15s">
    <PhotoGallery photos={photos} />
  </div>
</ContentPage>
