---
import PhotoGallery from "../../components/PhotoGallery.astro";
import { getSectionById } from "../../config";
import { getPhotos } from "../../content/selectors";
import ContentPage from "../../layouts/ContentPage.astro";

const section = getSectionById("photos");
const photos = await getPhotos();
---

<ContentPage section={section}>
  {photos.length === 0 ? (
    <p class="text-muted font-mono">nothing here yet :)</p>
  ) : (
    <div data-animate style="transition-delay: 0.15s">
      <PhotoGallery photos={photos} />
    </div>
  )}
</ContentPage>
